/*CSS Variables styling*/
:root {
  --bg-color: #D8D8D8;
  --main-color: #2B3467;
  --hover-color: white;
  --box-color: #748DA6; 
  --font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: var(--font-family);
}

body {
    background-color: var(--bg-color);
}

/* Nav styling*/
nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;  
    color: var(--main-color);
}
 
nav a {
    text-decoration: none;
    font-size: 25px;
    color: var(--main-color);
    margin: 20px;
}

nav img {
    height: 50px;
    width: 50px;
    margin: 20px 0 0 20px;
}

nav a:hover {
    color: var(--hover-color);
} 

/*Header styling*/
h2 {
    font-size: 35px;
    margin-bottom: 5px;
}

.header-subtitle {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-color);
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 30px;
}

.avatar-image {
    height: 300px;
    width: 300px;  
}

/*About Me styling*/
.about-me-box {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: start;
    margin: 0 10px 20px 10px ;
    padding: 8px;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--main-color);
    color: var(--main-color);
}

.about-me-title {
    height: 100px;
    margin: 30px;
    text-align: center;
    font-size: 25px;
}

.about-me-content {
    padding: 30px 20px 0 0;
    font-size: 20px;
    text-align: center;
}

/*Projects styling*/
.projects-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust this property to change spacing between divs */
}

.project-item-2 {
  box-sizing: content-box;
  background-color: var(--box-color);
  border-radius: 10px;
  box-shadow: 0 0 25px var(--main-color);
  width: 200px;
  height: 225px;
  border: 5px solid var(--main-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content vertically */
  align-items: center; /* Center the content horizontally */
}

.project-item-2 a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 18px; /* Adjust font size if needed */
}

.project-item-2 a:hover {
  color: var(--hover-color);
}

/*Contact Me styling*/
.contact-me-box {
    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    margin: 0 10px 20px 10px ;
    padding: 8px;
    height: 50px;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--main-color);
    color: var(--main-color);
}

.contact-me-title {
    padding: 5px 0 0 25px;
    text-align: center;
    font-size: 25px;
}

.contact-me-content a {
    font-size: 25px;
    text-decoration: none;
    color: var(--main-color);
    padding: 0 0 0 225px
}

.contact-me-content a:hover {
    color: var(--hover-color);
}

/*Footer styling*/
footer {
  display:flexbox;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
  color:var(--main-color);
}
h3 { 
    font-size: 25px;
    
}

.home {
    font-size: 20px;
    text-decoration: none;
    color: var(--main-color);
}

.home:hover {
    color: var(--hover-color);
}

/*Media Queries styling*/
@media (max-width: 1100px) {
  .projects-box {
    flex-direction: columns;
    align-items: center;
    margin: 0 20px 40px 20px;
  }
  
  .project-item {
    width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  .project-item img {
    width: 80;
    height: auto;
    position: relative;
    bottom: 0;
    right: 0;
    padding: 0;
  }
  
  .project-item a {
    font-size: 25px;
    position: relative;
    top: auto;
    left: 20px;
    text-align: center;
  }

  .contact-me-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 10px 20px 10px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 0 5px #2B3467;
    color: #2B3467;
  }
  
  .contact-me-title {
    font-size: 25px;
  }
  
  .contact-me-content a {
    font-size: 25px;
    text-decoration: none;
    color: #2B3467;
    padding: 0 100px 0 100px
  } 
}

@media (min-width: 320px) and (max-width: 680px) {

  nav {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  nav a {
    margin: 5px;
  }

  nav img {
    margin: 10px;
  }

  h2 {
    font-size: 30px;
  }

  .header-subtitle {
    font-size: 25px;
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
  }

  .avatar-image {
    height: 200px;
    width: 200px;
  }

  .about-me-box {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .about-me-title {
    height: auto;
    margin: 25px;
    font-size: 20px;
  }

  .about-me-content {
    padding: 20px 20px 30px 20px;
    font-size: 18px;
  }

  .projects-box {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .projects-title {
    height: auto;
    margin: 20px;
    padding: 50px 0;
    font-size: 25px;
  }

  .projects-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-item {
    width: 90%;
    height: auto;
    margin: 10px;
  }

  .project-item a {
    font-size: 25px;
    position: static;
    top: 0;
    left: 0;
    margin: 10px;
  }

  .project-item img {
    width: 100%;
    height: auto;
    padding: 20px;
    position: static;
    bottom: 0;
    right: 0;
  }

  .project-item-2 {
    width: 40%;
    height: auto;
    margin: 10px;
  }

  .project-item-2 img {
    width: 100%;
    height: auto;
    position: static;
    top: 0;
    left: 0;
    padding: 10px;
  }

  .contact-me-box {
    height: auto;
    display:flexbox; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }

  .contact-me-title {
    font-size: 25px;
    padding: 10px;
  }

  .contact-me-content a {
    font-size: 20px;
    padding: 10px;
  }
}

@media (min-width:680px) and (max-width:1003px) {
  .project-item {
    width: 95%;
    height: auto;
    margin: 10px;
  }
  
  .projects-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .project-item img {
    width: 400px;
    height: auto;
    padding: 20px;
  }
  
  .contact-me-content a {
    font-size: 20px;
    padding: 0 0 0 100px;
  }
}
